<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Average rating</th>
  </tr>
  </thead>

  <tbody>
  <% b.each do |b| %>
      <tr>
        <td><%= link_to b.name, b %></td>
        <td><%= b.average_rating %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>